#map{
  height:500px;

}

#map h2{
  text-align: center;
}



.info {
    padding: 6px 8px;
   
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 35%;
    white-space: normal;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend{
  padding: 6px 8px;
  position: absolute;
/*
  bottom: 35px;
  left: 9px;
*/
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-width: 35%;
  white-space: normal;
  line-height: 18px;
  color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

 .leaflet-control-layers-separator::after{
        content:"Tours";
        color:#000 ;
        font-weight: bold;
        font-size: 14px;
        display:block;
      }

      .transportation::after{
          content:"Transportation";
          color:#000 ;
          font-weight: bold;
          font-size: 14px;
          display:block;

      }
      .garden::after{
      content:"Gardens/Markets";
      color:#000 ;
      font-weight: bold;
      font-size: 14px;
      display:block;

      }
      .campus::after{
      content:"Facilities";
      color:#000 ;
      font-weight: bold;
      font-size: 14px;
      display:block;

      }