body {
    padding-top: 40px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    display: block;
    max-height: 50%;
    position:relative;
    max-width: inherit;
    height: auto;
    width: auto;
    border-top: 6px solid #F1FBFD;
    padding-bottom: 10px;
}




.portfolio-item-big {
    display: block;
    width: auto;
    max-height: 750px;
    height: auto;
        border-top: 6px solid #F1FBFD;

    
}

footer {
    margin: 50px 0;
}


.navi {
  font-size: 16px;
  background-color: white;
  border-bottom: 2px solid orange;
  color: black;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    
    background-color: orange;
}

a{
  color:black;
  transition: color .25s;
}

a:hover{
  color:orange;
  transition: color .25s;
}




button{
  background-color: black;
}

.icon-bar{
  color: black;
}

.morepics {
    padding-top:80px;
    padding-bottom: 20px;
}



.portfolio-pic {
    width: 100%;
    min-height: 300px;
    position: relative;
    transition: color .25s;
  color: black;
    
}

.portfolio-pic-ECO-1 {
    height: 100%;
    position:relative;
    background-image:   url(images/ClimateWeekFINAL.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-ECO-2 {
    height: 100%;
    position:relative;
    background-image:   url(images/LeoOscarMeme2.jpg);
    background-size: cover;
    background-position: center;

}

.portfolio-pic-ECO-3 {
    height: 100%;
    position:relative;
    background-image:   url(images/ecologo.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-LED-1 {
    height: 100%;
    position:relative;
    background-image:   url(images/grant.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-LED-2 {
    height: 100%;
    position:relative;
    background-image:   ;
    background-size: cover;
    background-position: center;
}

.portfolio-pic-report-1 {
    height: 100%;
    position:relative;
    background-image:   url(images/report2.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-report-2 {
    position:relative;
    background-image:   url(images/report3.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-report-3 {
    height: 100%;
    position:relative;
    background-image:   url(images/report4.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-report-4 {
     height: 100%;
    position:relative;
    background-image:   url(images/report5.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-info-1 {
    height: 100%;
    position:relative;
    background-image:   url(images/sustainable-front.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-info-2 {
    height: 100%;
    position:relative;
    background-image:   url(images/sustainable-back.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-info-3 {
    height: 100%;
    position:relative;
    background-image:   url(images/waterbottle.gif);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-info-4 {
    height: 100%;
    position:relative;
    background-image:   url(images/LED.gif);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-report-5 {
     height: 100%;
    position:relative;
    background-image:   url(images/report6.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-report-6 {
     height: 100%;
    position:relative;
    background-image:   url(images/report7.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-LED-3 {
    height: 100%;
    position:relative;
    background-image:   ;
    background-size: cover;
    background-position: center;
}

.outer {
    
}




.portfolio-pic-design-1 {
  
    height: 100%;
    position:relative;
    background-image:   url(../css/images/EBI2015.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-design-2 {
    height: 100%;
    position:relative;
    background-image:   url(../css/images/eesBlueprintFINAL.jpg);
    background-size: cover;
    background-position: center;
    
}

.portfolio-pic-design-3 {
    height: 100%;
    position:relative;
    background-image:   url(../css/images/watch.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-design-4 {
    height: 100%;
    position:relative;
    background-image:   url(../css/images/LogoInLights.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-design-5 {
    height: 100%;
    position:relative;
    background-image:   url(../css/images/FYEstarbanner.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-design-6 {
    height: 100%;
    position:relative;
    background-image:   url(../css/images/HousingAssignmentsBanner.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-info-5 {
    height: 100%;
    position:relative;
    background-image:   url(images/paper.gif);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-info-6 {
    height: 100%;
    position:relative;
    background-image:   url(images/cleaning.gif);
    background-size: cover;
    background-position: center;
}





.portfolio-pic-NASEC-1 {
    position:relative;
    background-image: url(images/NASEC2.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-NASEC-2 {
    position:relative;
    background-image:   url(images/NASEC5.png);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-NASEC-3 {
    position:relative;
    background-image:   url(images/NASEC4.png);
    background-size: cover;
    background-position: center;
}

.portfolio-link {
    color: orange;
}

.portfolio-link:hover {
    text-decoration: none;
    color:teal;
}

.portfolio-pic-ECO-4 {
    height: 100%;
    position:relative;
    background-image:   url(images/ecopeeps.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-ECO-5 {
    height: 100%;
    position:relative;
    background-image:   url(images/ecoart.JPG);
    background-size: cover;
    background-position: center;
}

.portfolio-pic-writing-4 {
     height: 100%;
    position:relative;
    background-image:   url(images/starwars.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
}

.window-tag {
     background: rgba(256,256,256, 1);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  transition: background .25s;
    position:absolute;
/*  bottom: 0;*/
    border-top: 3px black solid;

}

.portfolio-pic:hover > .window-tag{
  background: rgba(241,251,253, .5);


}

.portfolio-text {
/*    color:#F1FBFD;*/
    padding: 4px;
    border-bottom: 3px black solid;
    border-top: 1px black solid;
    background: rgba(256,256,256, 1);
}

.window-tag h3 {
    margin-top: 4px;
}



.portfolio-pic-writing-5 {
    height: 100%;
    position:relative;
    background-image:   url(images/toilet.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
}

.portfolio-pic-writing-6 {
     height: 100%;
    position:relative;
    background-image:   url(images/Benedict.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
}
