/*   General   */



html{
    background-color: white;
    width:100%;
    height:100%;
    margin:0;
    padding:0;

}
body{

    height: 100%;
    position: relative;
    margin: 0;
}

*{
  font-family: "HelveticaNeue", Helvetica, sans-serif;
}

a {
  color:inherit;
 text-decoration: none;
  transition: color .25s;
}

a:hover{
  text-decoration: none;
  color: orange;
  transition: color .25s;
}



hr{
  border-width: 3px;
  align:left;
}







/* Navbar Stuff */
.poop{
    display: inline;
    color:#333;
}
.nav {
  background-color: transparent;
  /*font-weight: Bold;*/
  /*box-shadow: 0px 1px 10px 1px #7DF9FF;*/
  transition: all 0.35s;


}

.nav li{
    color: white;
    font-size: 16px;
}

.icon-bar{
    background-color:white;
}

.navbar-border{
        border-bottom: 1px solid orange;

}

.nav a:focus{
  color:orange;
}

#mainnav.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }

.side-nav{
  float: left;
}

.side-nav li{
  list-style: none;
  color:white;
}
.side-nav ul{
  padding-left: 0px;
}






/* Main Image/Jumbotron */

@media only screen and (min-width:768px){
    jumbotron{
        height:100%;
    }
}




.jumbotron-main{
    height: 100%;
    width: 100%;
    background-image:url(images/solar-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #006666;
    text-shadow: 0px 0px 0px;
    position: relative;
    display: table;

}

.jumbotron-main h1{
    text-shadow: 0px 0px 0px;
    padding-top: 55px;

}

.jumbotron-main p{
  text-shadow: 0px 0px 0px;
}







/* About Me */


.Moreme{
  padding-bottom: 30px;
}


.whativedone{
  padding-top: 30px;
    padding-bottom: 30px;
  margin-bottom: 50px;
  background-color: none;
  color: #003333;

}
.whativedone i{
  color: orange;
}


.whativedone a{
 color:white;
  text-decoration: none;
  transition: color .25s;
}







/*    Portfolio   */

.mas-info{
    color: White;
    /*background-image:url(http://i.imgur.com/xMxFZab.png);*/
    background-color: #CCCCCC;
    padding-bottom: 80px;
    padding-top: 30px;

}


.mas-info p{
  font-size: 16px;
}

.box-inner{
  padding: 5px;
  width:30%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: background-color .3s;
  vertical-align: middle;

}







    /*   Portfolio Windows  */


.window i{
  color:orange;
  padding-top: 2px;
}

.window{
  min-height: 250px;
  border-top: 6px solid #F1FBFD;
  box-shadow: none;
  transition: border-top .25s;
  transition: box-shadow .55s;
transition-delay: box-shadow .25s;
  transition: color .25s;
  color: #F1FBFD;
  z-index: 1;
  font-family: 'Open Sans';
}


.window:hover{
  min-height: 250px;
  border-top: 6px solid #F1FBFD;
  box-shadow: 5px 5px 0px 1px #D8E1E3;
  transition: border-top .25s;
  transition: color .25s;
  transition: box-shadow .55s;
    transition-delay: box-shadow .25s;
  color:#003333;


}

.window:hover > .window-tag{
  background: rgba(241,251,253, 1);
    

}

.window-tag{
  background: rgba(0,51,51, .5);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  transition: background .25s;

}

.window-tag h3{
  padding: 0px;
  margin-top: 4px;
}

.window-1{
  background-image: url("images/ecobanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.window-3{
  background-image: url("images/reportmain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}




.window-5{
  background-image: url("images/waterbottle.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.window-2{
  background-image: url("images/LEDs.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}







/*    Articles     */




.articles{

  padding-top: 30px;
  padding-bottom: 70px;
  background-color: black;
  color: #F1FBFD;
}

.articles i{
  display: inline-block;
  /*margin-left: auto;
  margin-right: auto;*/
}

.article-info {
    padding-top: 30px;
    padding-bottom: 30px;
}






/*    Contact    */



.contact{

    background-color: none;
    color: #333;
    height:100%;
    padding: 25px;
    position: relative;
    z-index: 1;
    width: 100%;

}

#contact{
}

.contact p{
  margin-top: 10px;
}

.contact h4{
  font-size: 24px;
}
.inner{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contact a{
  margin:10px;
}

.contact li{
  list-style: none;
  display: inline-block;
}

.contact ul{
  padding-left: 0px;
}


.btn-contact{
    width: 50px;
    height: 50px;
 border-radius: 100%;
text-align: center;
line-height: 60px;
  transition: background-color .5s;
    display: inline-block;
    text-align: center;
 

}

.btn-contact:hover{
  background-color: orange;
  color: #006666;
  transition: background-color .25s;
    text-align: center;

}



.box {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}











#portfolio-btn {
    margin-top: 4px;
    background-color: transparent;
  color: #006666;
    border: none;
  transition: background-color .25s;
}

.outer {
    display: inline-block;
}

.box > i {
    position: relative;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    
}

#portfolio-btn:hover {
    background-color: transparent;
  color: #006666;
  transition: background-color .25s;
}

.window-tag-fun {
    visibility: hidden;
    transition-duration: visibility .25s;
}

.window-tag-fun: hover {
    visibility: visible;
    transition-duration: visibility .25s;
}

.window:hover> .window-tag-fun {
   visibility: visible;
  transition-duration: visibility .25s;
}

.window-6 {
    background-image: url(images/video.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background .25s;
    
    
}

.window-7 {
    background-image: url("/css/images/storieshousehome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.window-4 {

    background-image: url(images/NASEC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* Fun Mode Button */

[class*="BT"] {
  width: 220px;
  display: block;
  position: relative;
  padding: 0;
  
  height: 30px;
}


[class*="BT"] hover {
  position: absolute;
  z-index: 5;
  width: 246px;
  margin-left: -370px;
  transition: all 0.3s ease-out 0s;
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.38) 50%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(135, 135, 135, 0.38)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.38) 50%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.38) 50%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.38) 50%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(135, 135, 135, 0.38) 50%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  height: 60px;
  margin-top: -30px;
}

[class*="OH"] {
  overflow: hidden;
}

[class*="BR"] {
}

[class*="R6"] {
  border-radius: 6px;
}

[class*="NF"] {
  background: transparent;
}

[class*="BT"]:hover hover {
  margin-left: 123px;
}

[class*="TU"] {
  text-transform: uppercase;
}

[class*="PT"] {
  cursor: pointer;
}

[class*="BT"] span {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  z-index: 3;
    color:white;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  margin-top: -30px;
background-color: transparent;
}







.window-9 {
    background-image: url("/css/images/EBI2015.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron-main-fun {
    min-height: 100%;
    width: 100%;
    background-image:url(images/dino2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    color: #006666;
    text-shadow: 0px 0px 0px;
    position: relative;
    display: table;
}
