hr{
  border-width: 3px;
  align:left;
  margin-right: 30px;
}

.poop{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding-top: 10px;
}
.nav {
  font-size: 16px;
  background-color: transparent;
  /*font-weight: Bold;*/
  /*box-shadow: 0px 1px 10px 1px #7DF9FF;*/
  transition: all 0.35s;
}

.nav a:focus{
  color:orange;
}

#mainnav.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }

.side-nav{
  float: left;
}

.side-nav li{
  list-style: none;
  color:black;
}
.side-nav ul{
  padding-left: 0px;
}



.hovered{
    display: inline;
    padding: 14px 10px;
    color:orange;
}

@media (max-width:350px){
  .regular{
    display:none;
  }
}



@media (max-width:950px){
  .subStuff{
    display:none;
  }
  .box h3{
    margin-top: 10px;
  }
}


.ballsy{
    padding-bottom:50px;
}

/*.jumbotron{
    background-color:white;
    height:430px;
    background-image:url(http://i.imgur.com/kiqKU5z.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -80px;
    border-bottom: 3px solid  #00E5E5;
}*/

.jumbotron-main{
    height:500px;
    background-image:url(images/solar-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 0px -220px;*/
    border-bottom: 3px solid  #00E5E5;
    color: #006666;
    text-shadow: 0px 0px 0px;

}
.jumbotron-main h1{
    text-shadow: 0px 0px 0px;
    padding-top: 55px;

}

.jumbotron-main p{
  text-shadow: 0px 0px 0px;
}

.Moreme{
  padding-bottom: 30px;
}

.articles{

  padding-top: 50px;
  padding-bottom: 70px;
  background-color: black;
  color: #F1FBFD;
}

.articles i{
  display: inline-block;
  /*margin-left: auto;
  margin-right: auto;*/
}

.mas-info p{
  font-size: 16px;
}

.box-inner{
  padding: 5px;
  width:30%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: background-color .3s;
  vertical-align: middle;

}


.box-inner:hover{
  background-color: orange;
  transition: background-color .3s;
}

.box-active{
  background-color: orange;
}

.subStuff{
  padding-top: 4px;
}

.whativedone{
  padding-top: 10px;
  padding-bottom: 70px;
  background-color: none;
  color: #003333;

}
.whativedone i{
  color: orange;
}

.moreStuff{
    padding-bottom:50px;
}

.window i{
  color:orange;
  padding-top: 2px;
}

.window{
  min-height: 300px;
  max-height: 300px;
  border-top: 6px solid #F1FBFD;
  box-shadow: none;
  transition: border-top .25s;
  transition: box-shadow .35s;
  transition: color .25s;
  color: #F1FBFD;
  z-index: 1;
  font-family: 'Open Sans';
}


.window:hover{
  min-height: 300px;
  max-height: 300px;
  border-top: 6px solid #F1FBFD;
  box-shadow: 5px 5px 0px 1px #D8E1E3;
  transition: border-top .25s;
  transition: color .25s;
  transition: box-shadow .35s;
  opacity: 1;
  color:#003333;


}

.window:hover > .window-tag{
  background: rgba(241,251,253, 1);


}

.window-tag{
  background: rgba(0,51,51, .5);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  transition: background .25s;

}

.window-tag h3{
  padding: 0px;
  margin-top: 4px;
}

.window-1{
  background-image: url("images/ecobanner.jpg");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.window-3{
  background-image: url("images/report1.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;

}


/*.window h3:hover{
  color:orange;
  transition: color .25s

}*/

.window-5 {
  background-image: url("images/NASEC.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.window-5{
  background-image: url("images/waterbottle.gif");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
}
.window-2{
  background-image: url("images/LEDs.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}


.Design .inner{
  display: inline-block;
  text-align: left;
  width:2150px;
  /*padding: 20px;*/
  /*overflow: scroll;*/
}

.Design img{
  /*padding: 10px;*/
  height:330px;
  margin: 10px;

}


.active{

}

li: hover {

}
.contact{

    background-color: none;
    color: #333;
    height:100%;
    padding: 25px;
    position: relative;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left:0;
    display: block;

}

#contact{
  position: absolute;
}

.contact p{
  margin-top: 10px;
}

.contact h4{
  font-size: 24px;
}
.inner{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

}

.contact a{
  margin:10px;
  text-align: right;
}

.contact li{
  list-style: none;
  display: inline;
}

.contact ul{
  padding-left: 0px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  
}

.btn-contact{
  background-color: white;
  border: 1px solid orange;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  transition: background-color .25s;
}

.btn-contact:hover{
  background-color: orange;
  color: #006666;
  border: 1px solid orange;
  border-radius: 50%;

  transition: background-color .25s;

}

.btn i{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.mas-info{
    color: #15f4ee;
    /*background-image:url(http://i.imgur.com/xMxFZab.png);*/
    background-color: #CCCCCC;
    padding-bottom: 50px;
    padding-top: 50px;

}

.image{
    position:relative;
    float: left;
    background-color:transparent;
    height: inherit;
    display: inline-flex;
    /*border-radius: 8px;*/
    background-color: #00E5E5;
    transition: background-color .4s;
}




html{
    background-color: white;
    width:100%;
    height:100%;
    margin:0;
    padding:0;

}
body{

    min-height: 100%;
    position: relative;
    margin: 0;
}

*{
  font-family: "Roboto-Regular", "HelveticaNeue",sans-serif;
}
.nav a{
  color:white;
  -webkit-transition: color .25s;
  transition: color .25s
}

a{
  color:white;
}

a:active{
  text-decoration: none;
  color: white;
  transition: color .25s
}

a:hover{
  text-decoration: none;
  color: orange;
  transition: color .25s
}

.toggle {
    
}

.circle-work {
    background-color: white;
  border: 1px solid white;
}

.circle-fun {
  border: 1px solid white;
}
