

.initial-nav{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding-top: 10px;
}
.nav {
  font-size: 15px;

  /*font-weight: Bold;*/
  position: relative;
  background-color:  #00E5E5;
  /*box-shadow: 0px 1px 10px 1px #7DF9FF;*/

}

#name{
    color:orange;
}


.hovered{
    display: inline;
    padding: 14px 10px;
    color:orange;
}

@media (max-width:350px){
  .regular{
    display:none;
  }
}



@media (max-width:950px){
  .subStuff{
    display:none;
  }
  .box h3{
    margin-top: 10px;
  }
}


.ballsy{
    padding-bottom:50px;
}

/*.jumbotron{
    background-color:white;
    height:430px;
    background-image:url(http://i.imgur.com/kiqKU5z.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -80px;
    border-bottom: 3px solid  #00E5E5;
}*/

.jumbotron{
    height:500px;
    background-image:url(images/solar-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 0px -220px;*/
    border-bottom: 3px solid  #00E5E5;
}


.box-wri, .box-sci, .box-des{
  padding: 10px;
  border-radius: 10px;
  transition: background-color .3s;

}

.box-wri:hover, .box-sci:hover, .box-des:hover{
  background-color: orange;
  transition: background-color .3s;
}



.moreStuff{
    border-bottom: 1px solid #00E5E5;
    padding-bottom:50px;


}

.Science{
    border-bottom:1px solid #00E5E5;
    background-color: #00E5E5;
    color: white;


}

.Writing{
    border-bottom:1px solid #00E5E5;
    background-color: #00E5E5;
    color:white;


}

.Design{
    border-bottom:2px solid #00E5E5;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    width:100%;

}

.Design .containerouter{

}
.Design .inner{
  display: inline-block;
  text-align: left;
  width:4500px;
  /*padding: 20px;*/
  /*overflow: scroll;*/
}

.Design img{
  /*padding: 10px;*/
  height:330px;
  margin: 10px;

}


.active{

}

.contact{

    background-color:#006666;
    color:white;
    border-top: 1px solid #00E5E5;
    height:100px;
    padding: 25px;
}

.contact p{
  margin-top: 10px;
}

.contact h4{
  font-size: 24px;
}
.inner{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

}

.contact a{
  margin:10px;
  text-align: right;
}

.contact li{
  list-style: none;
  display: inline;
}

.contact ul{
  padding-left: 0px;
}

.btn{
  background-color: #006666;
  color: white;
  border: 1px solid orange;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}



.mas-info{

    /*background-image:url(http://i.imgur.com/xMxFZab.png);*/
    background-color: #00E5E5;
}

.image{
    position:relative;
    float: left;
    background-color:transparent;
    height: inherit;
    display: inline-flex;
    /*border-radius: 8px;*/
    background-color: #00E5E5;
    transition: background-color .4s;
}

img{
  transition: background-color .4s;
  transition: opacity .5s;
}

img:hover{
  opacity: .25;
  background-color: #00E5E5;
  transition: background-color .4s;
  transition: opacity .5s;
}

.image:hover{
  background-color: #00E5E5;
  transition: background-color .4s;
}

.text{
  color: white;
  font-size: 32px;
  text-align: center;
  position: absolute;
  bottom:50px;
  left:30px;
  opacity: 1;
}

.viewMore{
  text-align: center;
  float:left;
}

.viewMore i{
  position: relative;
  top:10px;
  color: white;
  -webkit-transition: color .4s;
 transition: color .4s;
}

.circle{
  width: 50px;
height: 50px;
border-radius: 50%;
border: 2px solid white;
margin-top: 155px;
margin-left: 132px
}

.viewMore i:hover{
  color: #66A3A3;
   -webkit-transition: color .4s;
  transition: color .4s;
}


.invisbile{
    visibility:hidden;
}

html{
    background-color: #66A3A3;
    width:100%;
    margin:0;
    padding:0;

}
body{
    margin:0;
    padding:0;
}

*{
  font-family: "Roboto-Regular", "HelveticaNeue",sans-serif;
}
.nav a{
  color:white;
  -webkit-transition: color .25s;
  transition: color .25s
}

a{
  -webkit-transition: color .25s;
  transition: color .25s
}

a:active{
  text-decoration: none;
  color:white;
  -webkit-transition: color .25s;
  transition: color .25s
}

a:hover{
  text-decoration: none;
  color: #66A3A3;
   -webkit-transition: color .25s;
  transition: color .25s
}
